[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
uwsgi = "*"
flask-sqlalchemy = "*"
sqlalchemy = "*"
flask-migrate = "*"
flask-login = "*"
flask-wtf = "*"
werkzeug = "*"
python-dateutil = "*"

[requires]
python_version = "3.9"

[scripts]
kakeibosan = "uwsgi --ini kakeibosan.ini"
