.pika-lendar th:first-child,
.pika-lendar td:first-child .pika-button {
  color: #f00;
}
.pika-lendar th:last-child,
.pika-lendar td:last-child .pika-button {
  color: #00f;
}
button[data-pika-year="2021"][data-pika-month="0"][data-pika-day="1"],
button[data-pika-year="2021"][data-pika-month="0"][data-pika-day="11"],
button[data-pika-year="2021"][data-pika-month="1"][data-pika-day="11"],
button[data-pika-year="2021"][data-pika-month="1"][data-pika-day="23"],
button[data-pika-year="2021"][data-pika-month="2"][data-pika-day="20"],
button[data-pika-year="2021"][data-pika-month="3"][data-pika-day="29"],
button[data-pika-year="2021"][data-pika-month="4"][data-pika-day="3"],
button[data-pika-year="2021"][data-pika-month="4"][data-pika-day="4"],
button[data-pika-year="2021"][data-pika-month="4"][data-pika-day="5"],
button[data-pika-year="2021"][data-pika-month="6"][data-pika-day="22"],
button[data-pika-year="2021"][data-pika-month="6"][data-pika-day="23"],
button[data-pika-year="2021"][data-pika-month="7"][data-pika-day="8"],
button[data-pika-year="2021"][data-pika-month="7"][data-pika-day="9"],
button[data-pika-year="2021"][data-pika-month="8"][data-pika-day="20"],
button[data-pika-year="2021"][data-pika-month="8"][data-pika-day="23"],
button[data-pika-year="2021"][data-pika-month="10"][data-pika-day="3"],
button[data-pika-year="2021"][data-pika-month="10"][data-pika-day="23"],
button[data-pika-year="2022"][data-pika-month="0"][data-pika-day="1"],
button[data-pika-year="2022"][data-pika-month="0"][data-pika-day="10"],
button[data-pika-year="2022"][data-pika-month="1"][data-pika-day="11"],
button[data-pika-year="2022"][data-pika-month="1"][data-pika-day="23"],
button[data-pika-year="2022"][data-pika-month="2"][data-pika-day="21"],
button[data-pika-year="2022"][data-pika-month="3"][data-pika-day="29"],
button[data-pika-year="2022"][data-pika-month="4"][data-pika-day="3"],
button[data-pika-year="2022"][data-pika-month="4"][data-pika-day="4"],
button[data-pika-year="2022"][data-pika-month="4"][data-pika-day="5"],
button[data-pika-year="2022"][data-pika-month="6"][data-pika-day="18"],
button[data-pika-year="2022"][data-pika-month="7"][data-pika-day="11"],
button[data-pika-year="2022"][data-pika-month="8"][data-pika-day="19"],
button[data-pika-year="2022"][data-pika-month="8"][data-pika-day="23"],
button[data-pika-year="2022"][data-pika-month="9"][data-pika-day="10"],
button[data-pika-year="2022"][data-pika-month="10"][data-pika-day="3"],
button[data-pika-year="2022"][data-pika-month="10"][data-pika-day="23"],
button[data-pika-year="2023"][data-pika-month="0"][data-pika-day="1"],
button[data-pika-year="2023"][data-pika-month="0"][data-pika-day="2"],
button[data-pika-year="2023"][data-pika-month="0"][data-pika-day="9"],
button[data-pika-year="2023"][data-pika-month="1"][data-pika-day="11"],
button[data-pika-year="2023"][data-pika-month="1"][data-pika-day="23"],
button[data-pika-year="2023"][data-pika-month="2"][data-pika-day="21"],
button[data-pika-year="2023"][data-pika-month="3"][data-pika-day="29"],
button[data-pika-year="2023"][data-pika-month="4"][data-pika-day="3"],
button[data-pika-year="2023"][data-pika-month="4"][data-pika-day="4"],
button[data-pika-year="2023"][data-pika-month="4"][data-pika-day="5"],
button[data-pika-year="2023"][data-pika-month="6"][data-pika-day="17"],
button[data-pika-year="2023"][data-pika-month="7"][data-pika-day="11"],
button[data-pika-year="2023"][data-pika-month="8"][data-pika-day="18"],
button[data-pika-year="2023"][data-pika-month="8"][data-pika-day="23"],
button[data-pika-year="2023"][data-pika-month="9"][data-pika-day="9"],
button[data-pika-year="2023"][data-pika-month="10"][data-pika-day="3"],
button[data-pika-year="2023"][data-pika-month="10"][data-pika-day="23"],
button[data-pika-year="2024"][data-pika-month="0"][data-pika-day="1"],
button[data-pika-year="2024"][data-pika-month="0"][data-pika-day="8"],
button[data-pika-year="2024"][data-pika-month="1"][data-pika-day="11"],
button[data-pika-year="2024"][data-pika-month="1"][data-pika-day="12"],
button[data-pika-year="2024"][data-pika-month="1"][data-pika-day="23"],
button[data-pika-year="2024"][data-pika-month="2"][data-pika-day="20"],
button[data-pika-year="2024"][data-pika-month="3"][data-pika-day="29"],
button[data-pika-year="2024"][data-pika-month="4"][data-pika-day="3"],
button[data-pika-year="2024"][data-pika-month="4"][data-pika-day="4"],
button[data-pika-year="2024"][data-pika-month="4"][data-pika-day="5"],
button[data-pika-year="2024"][data-pika-month="4"][data-pika-day="6"],
button[data-pika-year="2024"][data-pika-month="6"][data-pika-day="15"],
button[data-pika-year="2024"][data-pika-month="7"][data-pika-day="11"],
button[data-pika-year="2024"][data-pika-month="7"][data-pika-day="12"],
button[data-pika-year="2024"][data-pika-month="8"][data-pika-day="16"],
button[data-pika-year="2024"][data-pika-month="8"][data-pika-day="22"],
button[data-pika-year="2024"][data-pika-month="8"][data-pika-day="23"],
button[data-pika-year="2024"][data-pika-month="9"][data-pika-day="14"],
button[data-pika-year="2024"][data-pika-month="10"][data-pika-day="3"],
button[data-pika-year="2024"][data-pika-month="10"][data-pika-day="4"],
button[data-pika-year="2024"][data-pika-month="10"][data-pika-day="23"]{
    color: #f00;
}
