@charset "UTF-8";

html{
    height: 100%;
}
/*---------
  loading animation
---------*/
.loader,
.loader:after{
    border-radius: 50%;
    width: 10em;
    height: 10em;
}
.loader{
    position: fixed;
    top: calc(50% - 5em);
    left: calc(50% + 80px);
    z-index: 1052;
    font-size: 10px;
    text-indent: -9999em;
    border-top: 1.1em solid rgba(32, 64, 101, 0.5);
    border-right: 1.1em solid rgba(32, 64, 101, 0.5);
    border-bottom: 1.1em solid rgba(32, 64, 101, 0.5);
    border-left: 1.1em solid #ffffff;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes load8{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.loader-top{
    left: calc(50% - 5em);
}
.loader-bg{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1051;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
}
/*---------
  login, logout
---------*/
.auth-bg {
    background-color: #f5f5f5;
}
.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}
.form-signin .checkbox {
    font-weight: 400;
}
.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
/*---------
  sidebar
---------*/
.sidebar .logo{
    padding: 1rem;
}
.logo-text{
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: bold;
}
.logo-text:hover{
    text-decoration: none;
}
.sidebar .nav p{
    font-size: 0.8rem;
    font-weight: bold;
}
.logo-img{
    width: 34px;
    margin-right: 10px;
}
/*---------
  navbar
---------*/
.dropdown-toggle, a.dropdown-item{
    cursor: pointer;
}
.navbar-nav p.user_name{
    font-size: 1.5em;
}
/*---------
 main panel
--------- */
.main-panel > .content {
    min-height: calc(100vh - 174px);
}
/*---------
 records
---------*/
/* total table */
.card-total{
    width: 680px;
    padding-left: 15px;
    padding-right: 15px;
}
.card-total-table-header{
    min-width: 60px;
    padding: 5px 7px!important;
    text-align: center;
}
table tbody tr td.copy-btn{
    padding: 0;
}
.copy-btn{
    display: block;
    margin: 0 auto;
    padding: 0;
    border: none;
    background-color: #fff;
    cursor: pointer;
}
.total-copy-icon{
    font-size: 1.2rem;
    text-align: center;
}
.total-copy-icon:hover{
    color: #f96332;
}
.total-copy-icon:action{
    color: #f96332;
}
.card-records{
    width: 680px;
    padding-left: 15px;
    padding-right: 15px;
}
/* update modal */
.update-modal{
    max-width: 600px;
}
.update-table .badge-clm{
    text-align: center;
}
.update-table .badge{
    font-size: 1em;
    text-align: center;
}
.amount, .bought-in, .month-to-add{
    text-align: right;
}
/* item select modal */
.item-select-header{
    font-size: 1.2rem;
}
.receipt-date-input{
    border: 1px solid #ddd;
}
.btn-undo,
.btn-undo:focus{
    margin-right: 1rem!important;
    background-color: #2a5788;
    border-color: #2a5788;
}
.btn-undo:hover{
    background-color: rgba(42, 87, 136, 0.8);
}
.item-select-modal{
    max-width: 560px;
}
.item-select-modal .item-checkbox{
    position: relative;
    width: 1.5rem;
}
.btn-primary{
    font-weight: bold;
}
.btn-md-xs{
    padding: 5px 15px;
}
.btn-camera{
    color: #fff!important;
    margin: 0!important;
    font-size: 1rem!important;
}
.amount-input{
    width: 3rem;
    text-align: right;
    border: 1px solid #ddd;
}
.delete-icon{
    display: block;
    text-align: right;
}
.delete-icon::before{
    font-size: 1rem;
    cursor: pointer;
}
.item-row{
    position: relative;
    top: 0;
}
.item-row.hide-row{
    opacity: 0;
    top: -50px;
    z-index: -1;
    transition: .4s;
}
.item-row.hide-row ~ .item-row{
    top: -50px;
    transition: top .4s;
}
/* trimming modal */
.receipt-image{
    max-width: 100%;
}
/* calc */
.btn-calc, .btn-calc:focus{
    color: #fff;
    background-color: #2a5788;
    border-color: #2a5788;
    font-weight: bold;
}
.btn-calc:hover{
    background-color: rgba(42, 87, 136, 0.8);
}
/* table */
.handsontable .htAutocompleteArrow {
    margin-left: 0.3rem;
    font-size: 18px;
    cursor: pointer;
}
.wtHolder{
    height: auto!important;
    min-height: 300px;
    margin-bottom: 30px;
}
td.listbox.htDimmed{
    padding: 0.5em;
}
.handsontableEditor.autocompleteEditor, .handsontableEditor.autocompleteEditor .ht_master .wtHolder {
    min-height: 230px;
}
.handsontable td{
    padding: 12px 4px;
}
.ht-checkbox{
    position: relative;
}
.form-check{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 18px;
    height: 18px;
    padding-left: 0;
    margin: auto!important;
}
.form-check .form-check-label{
    display: block;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: auto;
    line-height: unset;
    cursor: default;
}
.form-check .form-check-sign::before,
.form-check .form-check-sign::after{
    top: 0!important;
    left: 0!important;
    width: 100%;
    height: 100%;
    cursor: default;
}
.form-check-input{
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.form-check .form-check-sign::after{
    top: -1px;
}
.form-check input[type="checkbox"]{
    position: relative;
    z-index: 3;
    visibility: unset;
    margin: 0;
}
.item-total-table{
    width: 50%;
    margin: 0 0 0 auto;
    font-size: 1.1rem;
}
.item-total-table th,
.item-total-table td{
    padding: 8px!important;
}
.ht-id,
.ht-month-to-add{
    font-size: 0;
}
p.annotation{
    margin: 0;
    font-size: 0.8rem;
}
span.required{
    color: #f96332;
}
.validation-error{
    font-size: 1.2rem;
}
@media screen and (max-width: 768px){
    .loader{
        left: calc(50% - 50px);
    }
    .nav-tabs{
        display: flex;
        padding: 0!important;
    }
    .card-total{
        width: 100%;
        padding: 0;
    }
    .card-total-table{
        overflow: auto;
    }
    .card-total-table-header{
        white-space: nowrap;
    }
    .card-records{
        width: 100%;
        padding: 0;
    }
    .page-link{
        padding: 0.75rem 0.25rem;
    }
    .btn-md-xs{
        padding: 0.4rem 0.6rem;
    }
    .handsontable{
        overflow-x: auto;
    }
}
/*---------
 settings
---------*/
.settings-icon-link{
    display: flex;
    align-items: center;
    font-size: 1rem;
}
.settings-icon-link--non-active{
    color: #2c2c2c;
    pointer-events: none;
}
.settings-icon-link:hover{
    text-decoration: none;
}
.color-picker{
    padding: 3px 6px!important;
}
/*---------
 calc
---------*/
.calc-result-area{
    border: 1px solid #000;
    height: 5rem;
    text-align: right;
    resize: none;
    font-size: 1.2rem;
    overflow: hidden;
}
.calc-process-row{
    width: 100%;
    height: 3rem;
    margin-bottom: 0;
    white-space: nowrap;
    overflow-x: auto;
    -ms-overflow-style: none;/* IE, Edge 対応 */
    scrollbar-width: none;/* Firefox 対応 */
}
.calc-process-row::-webkit-scrollbar{
    display: none;
}
.calc-result-row{
    text-align: right;
    font-size: 2rem;
    margin-top: -1rem;
    margin-bottom: 0;
}
.calc-copy:hover{
    color: #f96332;
}
.calc-copy-icon{
    width: 1.7rem;
    font-size: 1.5rem;
}
.calc-key{
    background-color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
}
.calc-key:hover{
    background-color: rgba(42, 87, 136, 0.2);
}
.calc-clear{
    width: calc(75% - 1px);
}
.calc-backspace{
    width: calc(25% - 0.25rem + 1px);
    color: #000;
}
.press-calc-key{
    background-color: rgba(42, 87, 136, 0.2);
    outline: 5px auto -webkit-focus-ring-color;
}