@charset "UTF-8";

/*---------
  navbar
---------*/
.dropdown-toggle, a.dropdown-item{
    cursor: pointer;
}
.navbar-nav p.user_name{
    font-size: 1.5em;
}
/*---------
 main panel
--------- */
.main-panel > .content {
    min-height: calc(100vh - 174px);
}
/*---------
 records
---------*/
th, .update-table .badge_clm{
    text-align: center;
}
.update-table .badge{
    font-size: 1em;
    text-align: center;
}
.update-table td.amount, td.bought_in, td.month_to_add{
    text-align: right;
}
.btn-calc, .btn-calc:focus{
    color: #fff;
    background-color: #2a5788;
    border-color: #2a5788;
}
.btn-calc:hover{
    background-color: rgba(42, 87, 136, 0.8);
}
.handsontable .htAutocompleteArrow {
    margin-left: 0.3rem;
    font-size: 18px;
    cursor: pointer;
}
td.listbox.htDimmed{
    padding: 0.5em;
}
.handsontableEditor.autocompleteEditor, .handsontableEditor.autocompleteEditor .ht_master .wtHolder {
    min-height: 230px;
}
.ht_month_to_add{
    font-size: 0;
}
p.annotation{
    margin: 0;
    font-size: 0.8rem;
}
span.required{
    color: #f96332;
}
table tbody tr td.copy-btn{
    padding: 0;
}
.copy-btn{
    display: block;
    margin: 0 auto;
    padding: 0;
    border: none;
    background-color: #fff;
    cursor: pointer;
}
.total-copy-icon{
    font-size: 1.2rem;
    text-align: center;
}
.total-copy-icon:hover{
    color: #f96332;
}
.total-copy-icon:action{
    color: #f96332;
}
/*---------
 calc
---------*/
.calc-result-area{
    border: 1px solid #000;
    height: 5rem;
    text-align: right;
    resize: none;
    font-size: 1.2rem;
    overflow: hidden;
}
.calc-process-row{
    width: 100%;
    height: 3rem;
    margin-bottom: 0;
    overflow-x: auto;
    -ms-overflow-style: none;/* IE, Edge 対応 */
    scrollbar-width: none;/* Firefox 対応 */
}
.calc-process-row::-webkit-scrollbar{
    display:none;
}
.calc-result-row{
    text-align: right;
    font-size: 2rem;
    margin-top: -1rem;
    margin-bottom: 0;
}
.calc-copy:hover{
    color: #f96332;
}
.calc-copy-icon{
    width: 1.7rem;
    font-size: 1.5rem;
}
.calc-key{
    background-color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
}
.calc-key:hover{
    background-color: rgba(42, 87, 136, 0.2);
}
.calc-clear{
    width: calc(75% - 1px);
}
.calc-backspace{
    width: calc(25% - 0.25rem + 1px);
    color: #808080;
}
.press-calc-key{
    background-color: rgba(42, 87, 136, 0.2);
}