@charset "UTF-8";

/* NavBar */
.dropdown-toggle, a.dropdown-item{
    cursor: pointer;
}
.navbar-nav p.user_name{
    font-size: 1.5em;
}
.main-panel > .content {
    min-height: calc(100vh - 174px);
}
.modal-dialog{
    max-width: 600px;
}
th, .badge_clm{
    text-align: center;
}
.badge{
    font-size: 1em;
    text-align: center;
}
td.amount, td.bought_in, td.month_to_add{
    text-align: right;
}
.handsontable .htAutocompleteArrow {
    font-size: 16px;
}
td.listbox.htDimmed{
    padding: 0.5em;
}
.handsontableEditor.autocompleteEditor, .handsontableEditor.autocompleteEditor .ht_master .wtHolder {
    min-height: 230px;
}
.ht_month_to_add{
    font-size: 0;
}
p.annotation{
    margin: 0;
    font-size: 0.8rem;
}
span.required{
    color: #f96332;
}
table tbody tr td.copy-btn{
    padding: 0;
}
button.copy-btn{
    display: block;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    border: none;
    background-color: #fff;
    cursor: pointer;
}
i.copy-icon{
    font-size: 1.2rem;
    text-align: center;
}
i.copy-icon:hover{
    color: #f96332;
}
i.copy-icon:action{
    color: #f96332;
}