{% extends 'base.html' %}
{% block title %}{% endblock %}
{% block header %}
{% endblock%}
{% block contents %}
        <div class="panel-header panel-header-lg">
            <canvas id="bigDashboardChart"></canvas>
        </div>
        <div class="content">
            <div class="row">
                <div class="col-md-6">
                    <div class="card card-chart">
                        <div class="card-header">
                            <h5 class="card-category">{{ '{0:%Y年%-m月}'.format(this_month) }}</h5>
                            <h4 class="card-title">出費割合</h4>
                        </div>
                        <div class="card-body">
                            <canvas id="pieChart"></canvas>
                        </div>
                    </div>
                </div>
                {%- for view_category in view_category_list %}
                <div class="col-md-6">
                    <div class="card card-chart">
                        <div class="card-header">
                            <h5 class="card-category">過去{{ total_costs_last_12_months.months | length }}ヶ月</h5>
                            <h4 class="card-title">{{ view_category.name }}</h4>
                        </div>
                        <div class="card-body">
                            <canvas id="lineChart{{ view_category.in_english }}"></canvas>
                        </div>
                    </div>
                </div>
                {%- endfor %}
            </div>
        </div>
        {% endblock %}
{% block footer %}
    <!-- Chart JS -->
    <script src="{{ url_for('static', filename='js/vendor/chartjs.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
    <script>
        $(document).ready(function () {
            let totalCostsLast12Months = {{ total_costs_last_12_months | tojson }};
            let costsThisMonthByCategory = {{ costs_this_month_by_category | tojson }};

            let utilityCosts = {{ utility_costs | tojson }};
            let viewCategory = {{ view_category_list | tojson }};

            initDashboardPageCharts(totalCostsLast12Months, costsThisMonthByCategory, utilityCosts, viewCategory);
        });
    </script>
{% endblock %}