{% extends 'base.html' %}
{% block title %} - {{ active_page }}{% endblock %}
{% block header %}
{% endblock%}

{% block contents %}
      <div class="panel-header panel-header-sm">
      </div>
      <div class="content">
        <div class="row">
          <div class="col-md-6">
            <div class="card">
              <div class="card-body">
                {% if record_id == None %}
                <form action="{{ url_for('edit_account.edit_account', edit='add') }}" method="post">
                {% else %}
                <form action="{{ url_for('edit_account.edit_account', edit='update', record_id=record_id) }}" method="post">
                {% endif %}
                <fieldset class="form-group">
                  <!-- fieldsetタグのタイトル -->
                  <legend class="border-bottom md-4">Account Info</legend>
                  <div class="form-group">
                  <!-- ユーザー名 -->
                      {{ form.username.label(class="form-control-label") }}
                      {{ form.username(class="form-control form-control-lg") }}
                  </div>
                  <div class="form-group">
                  <!-- 表示名 -->
                      {{ form.veiwname.label(class="form-control-label") }}
                      {{ form.veiwname(class="form-control form-control-lg") }}
                  </div>
                  <!-- メールアドレス -->
                  <div class="form-group">
                      {{ form.email.label(class="form-control-label") }}
                      {{ form.email(class="form-control form-control-lg") }}
                  </div>
                  <!-- パスワード -->
                  <div class="form-group">
                      {{ form.password.label(class="form-control-label") }}
                      {{ form.password(class="form-control form-control-lg") }}
                  </div>
                  <!-- パスワード確認 -->
                  <div class="form-group">
                      {{ form.confirm.label(class="form-control-label") }}
                      {{ form.confirm(class="form-control form-control-lg") }}
                  </div>
                  <div class="form-group">
                    {{ form.submit(class="to-loading btn btn-primary btn-block") }}
                  </div>
                  {% for category ,message in get_flashed_messages(with_categories=true) %}
                  <div class="alert alert-{{ category }} alert-dismissible">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  {% endfor %}
                  </fieldset>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}

{% block footer %}
{% endblock %}
