{%- extends 'base.html' %}
{%- block title %} - {{ active_page }}{%- endblock %}
{%- block header %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/vendor/handsontable.full.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/vendor/cropper.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/calendar.css') }}" />
{%- endblock%}
{%- block contents %}
            <div class="panel-header panel-header-sm">
            </div>
            <div class="content">
                {%- for category ,message in get_flashed_messages(with_categories=true) %}
                <div class="alert alert-{{ category }} alert-dismissible">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {%- endfor %}
                <div class="card-total">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">合計 - {{ '{0:%Y年%-m月}'.format(view_month) }}</h5>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive card-total-table">
                                <table class="table table-bordered">
                                    <tr>
                                        {%- for key in total_detail.keys() %}
                                        {#- カラムの内容によって表示変更 #}
                                        {%- if key == '折半額' or key == '折半合計' or '立替差引' in key or '支払額' in key %}
                                        {#- 半角スペースで改行 #}
                                        {%- if ' ' in key %}
                                        {%- set key_split = key.split(' ') %}
                                        {#- 支払額の場合はコピーボタン用にcolspanをつける #}
                                        {%- if '支払額' in key %}
                                        <th class="card-total-table-header text-primary" colspan="2" rowspan="2">
                                            {%- else %}
                                        <th class="card-total-table-header text-primary" rowspan="2">
                                            {%- endif %}
                                            {%- for row in key_split %}
                                            {{ row }}<br>
                                            {%- endfor %}
                                        </th>
                                        {%- else %}
                                        <th class="card-total-table-header text-primary" rowspan="2">{{ key }}</th>
                                        {%- endif %}
                                        {#- 立替額の場合は表示させない、次の行で表示 #}
                                        {%- elif '立替額' in key %}
                                        {%- else %}
                                        <th class="card-total-table-header text-primary" colspan="2">{{ key }}</th>
                                        {%- endif %}
                                        {%- endfor %}
                                    </tr>
                                    <tr>
                                        {%- for user in users %}
                                        <th class="card-total-table-header text-primary">折半</th>
                                        <th class="card-total-table-header text-primary">立替</th>
                                        {%- endfor %}
                                    </tr>
                                    <tbody>
                                        <tr>
                                            {%- for key, val in total_detail.items() %}
                                            {%- if '支払額' in key %}
                                            <td class="text-right">{{ '{:,}'.format(val) }}</td>
                                            <td>
                                                <button id="pay-amount" class="copy-btn" value="{{ val }}" data-toggle="tooltip">
                                                    <i class="total-copy-icon fas fa-clipboard"></i>
                                                </button>
                                            </td>
                                            {%- else %}
                                            <td class="text-right">{{ '{:,}'.format(val) }}</td>
                                            {%- endif %}
                                            {%- endfor %}
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-records">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">{{ active_page }}</h4>
                            <!-- tab -->
                            <ul class="nav nav-tabs">
                                {%- for user in users %}
                                {%- if user.user_name == current_user.user_name %}
                                {%- set active = 'active' %}
                                {%- endif %}
                                <li class="nav-item">
                                    <a href="#{{ user.user_name }}-content" class="nav-link {{ active }}" data-toggle="tab">{{ user.view_name }}</a>
                                </li>
                                {%- endfor %}
                            </ul>
                            <!-- endtab -->
                        </div>
                        <div class="card-body pt-1 pt-md-2">
                            <!-- panel -->
                            <div id="tabContent" class="tab-content">
                                {%- for user in users %}
                                {%- if user.user_name == current_user.user_name %}
                                {%- set active = 'active' %}
                                {%- endif %}
                                <div id="{{ user.user_name }}-content" class="tab-pane {{ active }}" role="tabpanel" aria-labelledby="{{ user.user_name }}-tab">
                                    <div class="d-flex justify-content-between flex-nowrap mb-md-2 mb-3">
                                        <!-- ボタン系 -->
                                        <div class="flex-itmes d-flex align-items-center mr-2">
                                            <div class="upload-receipt mr-3">
                                                <label for="receiptImage" class="btn-camera btn btn-sm">
                                                    <i class="fa fa-camera"></i>
                                                </label>
                                                <input id="receiptImage" class="d-none" type="file" name="image" accept="image/*" capture="environment">
                                            </div>
                                            <button id="{{ user.id }}-fetch-update-records" type="button" class="btn btn-primary btn-sm mr-md-2 mr-1 btn-md-xs">
                                                登録
                                            </button>
                                            <button type="button" class="btn btn-calc btn-sm btn-md-xs" data-toggle="modal" data-target="#calcModal">
                                            <!-- <button type="button" class="btn btn-calc btn-sm btn-md-xs" data-toggle="modal" data-target="#itemDetailModal"> -->
                                                電卓
                                            </button>
                                        </div><!-- endボタン系 -->
                                        <!-- ページャー -->
                                        <div class="flex-itmes d-flex align-items-center">
                                            <ul class="pagination mb-0">
                                                {%- if month.prev != '' %}
                                                <li class="page-item">
                                                    <a class="page-link text-primary" href="{{ url_for('records.records', month=month.prev) }}"><< <span class="d-none d-sm-inline">前月</span></a>
                                                </li>
                                                {%- else %}
                                                <li class="page-item disabled">
                                                    <a class="page-link text-dark" href="#" tabindex="-1"><< <span class="d-none d-sm-inline">前月</span></a>
                                                </li>
                                                {%- endif %}
                                                <li class="page-item disabled">
                                                    <a class="page-link text-dark" href="#" tabindex="-1">{{ '{0:%Y年%-m月}'.format(view_month) }}</a>
                                                </li>
                                                {%- if month.next != '' %}
                                                <li class="page-item">
                                                    <a class="page-link text-primary" href="{{ url_for('records.records', month=month.next) }}"><span class="d-none d-sm-inline">次月</span> >></a>
                                                </li>
                                                {%- else %}
                                                <li class="page-item disabled">
                                                    <a class="page-link text-dark" href="#" tabindex="-1"><span class="d-none d-sm-inline">次月</span> >></a>
                                                </li>
                                                {%- endif %}
                                            </ul>
                                        </div><!-- endページャー -->
                                    </div>
                                    <p class="annotation"><span class="required"> * </span>は入力必須</p>
                                    <div id="{{ user.id }}-handsontable">
                                    </div>
                                </div>
                                {%- endfor %}
                            </div>
                            <!-- endpanel -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- 追加確認モーダル -->
            <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog">
                <div class="modal-dialog update-modal" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="updateModalTitle"></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <h5 id="updateCaption"></h5>
                            <div id="validationError" class="validation-error"></div>
                            <div class="table-responsive">
                                <table class="table table-bordered update-table">
                                    <th></th>
                                    <th class="text-primary">立替</th>
                                    <th class="text-primary">種別</th>
                                    <th class="text-primary">項目</th>
                                    <th class="text-primary">支払先</th>
                                    <th class="text-primary">金額</th>
                                    <th class="text-primary">支払日</th>
                                    <th class="text-primary">計上月</th>
                                    <tbody id="tbodyUpdate">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="modal-footer">
                        </div><!-- /.modal-footer -->
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- end追加確認モーダル -->
            <!-- 商品選択モーダル -->
            <div class="modal fade" id="itemSelectModal" tabindex="-1" role="dialog">
                <div class="modal-dialog item-select-modal" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">計上商品選択</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="item-select-header d-flex justify-content-between">
                                <div class="store-name">
                                    <p>店名：<span id="storeName"></span></p>
                                    <p class="store-category">
                                        <span id="storeCategory"></span> / <span id="storeSubcategory"></span>
                                    </p>
                                </div>
                                <div class="receipt-date">
                                    <label for="receiptDate" class="receipt-date-label">
                                        日付：
                                    </label>
                                    <input id="receiptDate" class="receipt-date-input" type="date">
                                </div>
                            </div>
                            <table id="itemSelectTable" class="table item-select-table">
                                <thead class="text-primary small">
                                    <th></th>
                                    <th>商品名</th>
                                    <th class="amount">金額</th>
                                    <th class="amount">税</th>
                                    <th class="amount">合計</th>
                                    <th></th>
                                </thead>
                                <tbody id="tbodyItemsDetail">
                                </tbody>
                            </table>
                            <table class="table table-borderless item-total-table">
                                <tbody>
                                    <tr>
                                        <th class="text-primary">小計</th><td id="receiptSubtotal" class="amount"></td>
                                    </tr>
                                    <tr>
                                        <th class="text-primary">税合計</th><td id="receiptTaxTotal" class="amount"></td>
                                    </tr>
                                    <tr>
                                        <th class="text-primary">合計</th><td id="receiptTotal" class="amount"></td>
                                    </tr>
                                    <tr>
                                        <th class="text-primary">計上金額</th><td id="toRecordTotal" class="amount"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button id="itemSelectUndo" class="btn btn-undo">
                                <i class="fa fa-undo"></i>
                            </button>
                            <button id="itemSelectConfirm" type="button" class="btn btn-primary">内容確認</button>
                            <button id="itemSelectClose" type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
                        </div><!-- /.modal-footer -->
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- end商品詳細モーダル -->
            <!-- トリミングモーダル -->
            <div class="modal fade" id="trimmingModal" tabindex="-1" role="dialog">
                <div class="modal-dialog trimming-modal" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">トリミング</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="trimming-image">
                                <img id="trimmingReceiptImage" class="receipt-image">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button id="uploadTrimmedImage" class="btn btn-primary upload-trimmed-reciept">
                                <i class="fa fa-cloud-upload-alt"></i>
                                アップロード
                            </button>
                        </div><!-- /.modal-footer -->
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- endトリミングモーダル -->
            <!-- 電卓モーダル -->
            <div class="modal fade calc-modal" id="calcModal" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="calcModalLabel">電卓</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="d-flex mb-3">
                                <div id="calc-result" class="calc-result-area col p-1">
                                    <p id="calc-process-row" class="calc-process-row"></p>
                                    <p id="calc-result-row" class="calc-result-row">0</p>
                                </div>
                                <button id="copy-calc" class="copy-btn calc-copy px-1 bg-white border border-secondary rounded" data-toggle="tooltip" value="0">
                                    <i class="calc-copy-icon fas fa-clipboard"></i>
                                </button>
                            </div>
                            <div class="calc-key-area container">
                                <div class="row">
                                    <button id="calc-key_clear" class="calc-key calc-clear" value="clear">Clear</button>
                                    <button id="calc-key_backspace" class="calc-key calc-backspace ml-1" value="backspace"><i class="fas fa-backspace"></i></button>
                                </div>
                                <div class="row mt-1">
                                    <button id="calc-key_7" class="calc-key col" value="7">7</button>
                                    <button id="calc-key_8" class="calc-key col ml-1" value="8">8</button>
                                    <button id="calc-key_9" class="calc-key col ml-1" value="9">9</button>
                                    <button id="calc-key_divide" class="calc-key col ml-1" value="÷">÷</button>
                                </div>
                                <div class="row mt-1">
                                    <button id="calc-key_4" class="calc-key col" value="4">4</button>
                                    <button id="calc-key_5" class="calc-key col ml-1" value="5">5</button>
                                    <button id="calc-key_6" class="calc-key col ml-1" value="6">6</button>
                                    <button id="calc-key_multiply" class="calc-key col ml-1" value="×">×</button>
                                </div>
                                <div class="row mt-1">
                                    <button id="calc-key_1" class="calc-key col" value="1">1</button>
                                    <button id="calc-key_2" class="calc-key col ml-1" value="2">2</button>
                                    <button id="calc-key_3" class="calc-key col ml-1" value="3">3</button>
                                    <button id="calc-key_minus" class="calc-key col ml-1" value="-">-</button>
                                </div>
                                <div class="row mt-1">
                                    <button id="calc-key_0" class="calc-key col" value="0">0</button>
                                    <button id="calc-key_dot" class="calc-key col ml-1" value=".">.</button>
                                    <button id="calc-key_equal" class="calc-key col ml-1" value="=">=</button>
                                    <button id="calc-key_plus" class="calc-key col ml-1" value="+">+</button>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                        </div><!-- /.modal-footer -->
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- end電卓モーダル -->
{%- endblock %}
{%- block footer %}
    <script src="{{ url_for('static', filename='js/vendor/handsontable.full.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/moment-with-locales.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/lodash.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/cropper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/records.js') }}"></script>
    <script src="{{ url_for('static', filename='js/calc.js') }}"></script>
    <script>
        $(document).ready(function() {
            const users = {{ users | tojson }};
            const records = {{ costs | tojson }};
            const viewMonth = '{{ '{0:%Y-%-m}'.format(view_month) }}'
            // varなしはグローバル
            currentUserId = {{ current_user.id }}
            categoryList = {{ category_list | tojson }};

            table = createTable(users, records, viewMonth);
        });
    </script>
    <script src="{{ url_for('static', filename='js/receipt.js') }}"></script>
{%- endblock %}