{%- extends 'base.html' %}
{%- block title %} - {{ active_page }}{%- endblock %}
{%- block header %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/vendor/handsontable.full.min.css') }}"/>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/calendar.css') }}"/>
{%- endblock%}
{%- block contents %}
      <div class="panel-header panel-header-sm">
      </div>
      <div class="content">
      {%- for category ,message in get_flashed_messages(with_categories=true) %}
      <div class="alert alert-{{ category }} alert-dismissible">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {%- endfor %}
        <div class="row">
          <div class="col-md-7">
            <div class="card">
              <div class="card-header">
                <h5 class="card-title">合計 - {{ '{0:%Y年%-m月}'.format(view_month) }}</h5>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-bordered">
                    {%- for key in total_cost.keys() %}
                    {%- if '支払額' in key %}
                    <th class="text-primary" colspan="2">{{ key }}</th>
                    {%- else %}
                    <th class="text-primary">{{ key }}</th>
                    {%- endif %}
                    {%- endfor %}
                    <tbody>
                      <tr>
                      {%- for key, val in total_cost.items() %}
                      {%- if '支払額' in key %}
                      <td class="text-right">{{ '{:,}'.format(val) }}</td>
                      <td>
                        <button id="pay-amount" class="copy-btn" value="{{ val }}" data-toggle="tooltip">
                          <i class="copy-icon now-ui-icons files_single-copy-04"></i>
                        </button>
                      </td>
                      {%- else %}
                      <td class="text-right">{{ '{:,}'.format(val) }}</td>
                      {%- endif %}
                      {%- endfor %}
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-10">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">{{ active_page }}</h4>
                <!-- tab -->
                <ul class="nav nav-tabs">
                  {%- for user in users %}
                  {%- if user.user_name == current_user.user_name %}
                  {%- set active = 'active' %}
                  {%- endif %}
                  <li class="nav-item">
                      <a href="#{{ user.user_name }}-content" class="nav-link {{ active }}" data-toggle="tab">{{ user.view_name }}</a>
                  </li>
                  {%- endfor %}
                </ul>
                <!-- endtab -->
              </div>
              <div class="card-body">
                <!-- panel -->
                <div id="tabContent" class="tab-content">
                  {%- for user in users %}
                  {%- if user.user_name == current_user.user_name %}
                  {%- set active = 'active' %}
                  {%- endif %}
                  <div id="{{ user.user_name }}-content" class="tab-pane {{ active }}" role="tabpanel" aria-labelledby="{{ user.user_name }}-tab">
                    <div class="d-flex justify-content-between">
                      <!-- 新規登録ボタン -->
                      <div class="flex-itmes">
                        <button id="{{ user.id }}-fetch-update-records" type="button" class="btn btn-primary btn-sm">
                          登録
                        </button>
                        <button type="button" class="btn btn-primary btn-sm ml-3" data-toggle="modal" data-target="#calcModal">
                          電卓
                        </button>
                      </div>
                      <!-- ページャー -->
                      <div class="flex-itmes">
                          <ul class="pagination float-right">
                            {%- if month.prev != '' %}
                            <li class="page-item">
                              <a class="page-link text-primary" href="{{ url_for('records', month=month.prev) }}" ><< 前月</a>
                            </li>
                            {%- else %}
                            <li class="page-item disabled">
                              <a class="page-link text-dark" href="#" tabindex="-1"><< 前月</a>
                            </li>
                            {%- endif %}
                            <li class="page-item disabled">
                              <a class="page-link text-dark" href="#" tabindex="-1">{{ '{0:%Y年%-m月}'.format(view_month) }}</a>
                            </li>
                            {%- if month.next != '' %}
                            <li class="page-item">
                              <a class="page-link text-primary" href="{{ url_for('records', month=month.next) }}" >次月 >></a>
                            </li>
                            {%- else %}
                            <li class="page-item disabled">
                              <a class="page-link text-dark" href="#" tabindex="-1">次月 >></a>
                            </li>
                            {%- endif %}
                          </ul>
                      </div>
                    </div>
                    <p class="annotation"><span class="required"> * </span>は入力必須</p>
                    <div id="{{ user.id }}-handsontable">
                    </div>
                  </div>
                  {%- endfor %}
                </div>
                <!-- endpanel -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- モーダルの設定 -->
      <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="logoutModalLabel">データ更新</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <h5 id="records-caption"></h5>
              <div class="table-responsive">
                <table class="table table-bordered">
                  <th></th>
                  <th class="text-primary">種別</th>
                  <th class="text-primary">項目</th>
                  <th class="text-primary">支払先</th>
                  <th class="text-primary">金額</th>
                  <th class="text-primary">支払日</th>
                  <th class="text-primary">計上月</th>
                  <tbody id="tbody-update">
                  </tbody>
                </table>
              </div>
            </div>
            <div class="modal-footer">
            </div><!-- /.modal-footer -->
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->
      <!-- モーダルの設定 -->
      <div class="modal fade" id="calcModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="calcModalLabel">電卓</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="d-flex mb-3">
                <input id="caclc-result" class="caclc-result p-1" value="test" type="text" readonly>
                <button id="copy-input" class="copy-btn px-1 bg-white border border-secondary rounded" data-toggle="tooltip">
                  <i class="copy-icon now-ui-icons files_single-copy-04"></i>
                </button>
              </div>
              <div class="key-area container-fluid">
                <div class="row mt-1">
                  <button class="col mr-1">7</button>
                  <button class="col mr-1">8</button>
                  <button class="col mr-1">9</button>
                  <button class="col">÷</button>
                </div>
                <div class="row mt-1">
                  <button class="col mr-1">4</button>
                  <button class="col mr-1">5</button>
                  <button class="col mr-1">6</button>
                  <button class="col">×</button>
                </div>
                <div class="row mt-1">
                  <button class="col mr-1">1</button>
                  <button class="col mr-1">2</button>
                  <button class="col mr-1">3</button>
                  <button class="col">−</button>
                </div>
                <div class="row mt-1">
                  <button class="col mr-1">0</button>
                  <button class="col mr-1">.</button>
                  <button class="col mr-1">=</button>
                  <button class="col">+</button>
                </div>
              </div>
            </div>
            <div class="modal-footer">
            </div><!-- /.modal-footer -->
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->
{%- endblock %}
{%- block footer %}
  <script src="{{ url_for('static', filename='js/vendor/handsontable.full.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/vendor/moment-with-locales.js') }}"></script>
  <script src="{{ url_for('static', filename='js/vendor/lodash.js') }}"></script>
  <script src="{{ url_for('static', filename='js/records.js') }}"></script>
  <script>
    $(document).ready(function() {
      var currentUserId = {{ current_user.id }}
      var users = {{ users | tojson }};
      var records = {{ costs | tojson }};
      var viewMonth = '{{ '{0:%Y-%-m}'.format(view_month) }}'
      createTable(currentUserId, users, records, viewMonth);
    });

    $('.copy-btn')
    // tooltip設定
    .tooltip({
      trigger: 'manual'
    })
    // tooltip表示後の動作を設定
    .on('shown.bs.tooltip', function(){
      setTimeout((function(){
        $(this).tooltip('hide');
      }).bind(this), 1500);
    })
    // クリック時の動作を設定
    .on('click', function(){
      console.log($(this).attr('id'));
      const clickId = $(this).attr('id');
      let copyResult;
      if(clickId === 'pay-amount'){
        // buttonのvalueを取得
        const text = $(this).val();
        // tdから直接はコピーできないためテキストエリアを経由
        let $textarea = $('<textarea></textarea>');
        $textarea.text(text);
        $(this).append($textarea);
        $textarea.select();
        // コピー結果を取得してtextareaは削除
        copyResult = document.execCommand('copy');
        $textarea.remove();
      }else{
        $('#caclc-result').select();
        copyResult = document.execCommand('copy');
      }
      // コピー結果によって表示変更
      if(copyResult){
        $(this).attr('data-original-title', 'コピーしました');
      }else{
        $(this).attr('data-original-title', 'コピー失敗しました');
      }
      // tooltip表示
      $(this).tooltip('show');
    });
  </script>
{%- endblock %}
